/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: var(--navbar-padding);
    padding-bottom: var(--navbar-padding);
    position: absolute;
    top: 0;
    width: 100%; /* Ensure full-width */
    background-color: var(--background-color); /* Use variable for background color */
}

.navbar__link {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--link-color); /* Use variable for link color */
}
