@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --font-family-serif: 'Sentient', serif;
  --font-family-sans: 'Outfit', sans-serif;
  --background-color: #F7F7F8;
  --spinner-color-start: #0000;
  --spinner-color-end: #010110;
  --text-stroke-color: #F7F7F8;
  --clipy-text-color: black;
  --clipy-border-color: black;
  --clipy-border-width: 2px;
}

.header {
  font-family: var(--font-family-serif);
}

body {
  font-family: var(--font-family-sans);
  background-color: var(--background-color);
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(var(--spinner-color-start) 10%, var(--spinner-color-end));
  -webkit-mask: radial-gradient(farthest-side, var(--spinner-color-start) calc(100% - 9px), var(--spinner-color-end) 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

.white-space-pre-wrap {
  white-space: pre-wrap; 
}

@keyframes spinner-zp9dbg {
  to {
      transform: rotate(1turn);
  }
}

.clipy {
  -webkit-text-stroke: 0.3vw var(--text-stroke-color);
}

.clipy::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: var(--clipy-text-color);
  -webkit-text-stroke: 0vw var(--text-stroke-color);
  border-right: var(--clipy-border-width) solid var(--clipy-border-color);
  overflow: hidden;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%, 10%, 100% {
      width: 0;
  }
  70%, 90% {
      width: 100%;
  }
}

img {
  max-width: 100%;
}
